<div class="modal-content">
    <h4>{{title}} kamer</h4>
    <p>Kamer naam</p>
    <input placeholder="Kamer naam" type="text" [(ngModel)]="roomName">

  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" (click)="submitRequest()">Toevoegen</a>
  </div>

  <br>
