<nav class="grey darken-3">
    <a class="brand-logo left" >
    Esplanada  
    </a>
</nav>
<br>
<div style="padding-left:10px;">
  <a class="btn-floating btn-large grey darken-4 left" href="/rooms" ><i class="material-icons">arrow_back</i></a><h4 style="text-align:center;">{{room}}</h4> 
</div>
<br>
<div class="container">


</div>
