<nav class="grey darken-3">

  <a class="brand-logo left ">Kamers</a>

</nav>
<br>

<div class="container">





  <!-- Create room -->

  <a (click)="createRoomModal()" class="waves-effect waves-light btn grey darken-3">Creeër kamer</a>
  <br>
  <br>
  <br>

  <!-- Modal Structure -->
  <div id="CreateRoom" class="modal">
    <app-create-room [kind]="'create'" (request)="createRoom($event)">
    </app-create-room>
  </div>



  <!-- loop -->
  <div class="row">
    <div class="col s6 m3" *ngFor="let room of rooms">
      <a href="/room/{{room.id}}">
        <div class="card">
          <div class="card-content" style="overflow: auto;">
            <span class="card-title">{{room.name}}</span>
          </div>
        </div>
      </a>
      <div class="edit" (click)="editRoomModal(room.id)">
        <i class="material-icons">edit</i>
      </div>
      <div class="delete" (click)="deleteRoom(room.id)">
        <i class="material-icons">delete</i>
      </div>
          <div [attr.id]="'EditRoomModal'+room.id" class="modal">
            <app-create-room [kind]="'edit'" [id]="room.id" (request)="editRoom($event)">
            </app-create-room>
          </div>
    </div>

    <div>
