.delete{

    box-shadow:0px 1px 1px 0px #d10808,  1px 1px 1px 0px #d10808;
    width: 50%;
    border-top:0; 
    text-align: center;
    color:#d10808;
    float: left;
    border-left: 3px solid white;
}
.edit{
    box-shadow:0px 1px 1px 0px #0a23df, -1px 1px 1px 0px #0a23df;
    width: 50%;
    border-top:0; 
    text-align: center;
    color:#0a23df;
    float: left;
    border-right: 3px solid white;
}
.card{
    margin-bottom:0;
    margin-top:30px;
}
.card{
    margin-bottom:0;
    margin-top:30px;
}